#boreg{
    background-color: #334756; 
    color: white;
}
#bowel{
    background-color: #334756; 
    color: white;
}

#boadmin{


    background-color: #334756; 
    color: white;
}
#nav{

    background-color: aqua;
}


